* {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-container {
  display: grid;
  grid-template-columns: minmax(100px, 280px) 1fr;
  height: 100vh;
  background-color: #121212;
}
.sidebar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.content-container {
  background-color: rgb(9, 9, 9);
}
.search-area {
  padding: 1rem;
  height: fit-content;
  width: 90%;
}
#searchBox {
  width: 87.5%;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(57, 57, 57);
  backdrop-filter: blur(10px);
  color: #e9e9e9;
  align-self: center;
}
#searchBox:focus {
  border: 1px solid rgb(97, 97, 97);
  transition: border 0.2s ease-in-out;
  outline: none;
}
#searchBox:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.2s ease-in-out;
  border: 1px solid rgb(57, 57, 57);
}
.other-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.6rem;
  width: 87.5%;
  text-align: left;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(57, 57, 57);
  color: #e9e9e9;
  cursor: pointer;
  align-items: center;
}
.other-buttons-icons,
.other-buttons-text {
  vertical-align: middle;
  display: inline-block;
}
.other-buttons:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.15);
}
.button-active {
  background-color: rgba(0, 27, 137, 0.615);
  border-color: rgba(0, 27, 137, 0.556);
}
.button-active:hover {
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  background-color: rgba(0, 27, 137, 0.766);
  border-color: rgb(0, 27, 137);
}
.other-buttons-area {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.add-task-container {
  width: 20%;
}
.bottom-content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.bottom-button {
  padding: 0.5rem;
  margin: 1rem;
  justify-content: center;
}
#addButton {
  background-color: rgba(0, 27, 137, 0.615);
  border-color: rgba(0, 27, 137, 0.556);
}
#addButton:hover {
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  background-color: rgba(0, 27, 137, 0.766);
  border-color: rgb(0, 27, 137);
}
.hidden {
  pointer-events: none;
  opacity: 0;
}
