* {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-container {
  display: grid;
  position: absolute;
  grid-template-columns: minmax(100px, 280px) 1fr;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}
.sidebar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.content-container {
  background-color: rgb(9, 9, 9);
  color: #e9e9e9;
  padding: 1rem;
}
.search-area {
  padding: 1rem;
  height: fit-content;
  width: 90%;
}

.other-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.6rem;
  width: 87.5%;
  text-align: left;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
  border: 1px solid rgb(57, 57, 57);
  color: #e9e9e9;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.2s ease-in-out !important;
}
.other-buttons-icons,
.other-buttons-text {
  vertical-align: middle;
  display: inline-block;
}
.other-buttons:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
}
.button-active {
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  background-color: rgba(0, 27, 137, 0.615) !important;
  border-color: rgba(0, 27, 137, 0.556) !important;
}
.button-active:hover {
  background-color: rgba(0, 38, 190, 0.766) !important;
  border-color: rgb(0, 27, 137) !important;
}
.other-buttons-area {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.add-task-container {
  width: 20%;
  display: flex;
  flex-direction: row;
}
.bottom-content {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-width: 50%;
}

.bottom-button {
  padding: 0.5rem;
  margin: 1rem;
  justify-content: center;
}
#addButton {
  background-color: rgba(0, 37, 185, 0.615) !important;
  border-color: rgba(32, 55, 148, 0.556) !important;
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  z-index: 0;
}
#addButton:hover {
  background-color: rgba(8, 49, 209, 0.766) !important;
  border-color: rgb(26, 49, 143) !important;
}
.hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.out-of-display {
  opacity: 0 !important;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  transform: scaleY(
    0
  ) !important; /* görünmediği zaman yer kaplamasın ve taskları etkilemesin diye */
}
.display-none {
  display: none !important;
}
/* boş olduğu zaman gösterilecek şey için olan stiller */
#emptyState {
  opacity: 1;
  transform-origin: top;
  transform: scaleY(1);
  transition: opacity 0.01s ease-in-out;
}
.show {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.input-text {
  width: 87.5%;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(57, 57, 57);
  backdrop-filter: blur(10px);
  color: #e9e9e9;
  align-self: center;
  transition: background-color 0.2s ease-in-out;
}
.input-text:focus {
  border: 1px solid rgb(97, 97, 97);
  transition: border 0.2s ease-in-out;
  outline: none;
}
.input-text:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgb(57, 57, 57);
}
#fastTaskAdd {
  width: 10.5rem;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-modal {
  background-color: #2b2b2b;
  width: 400px;
  height: 400px;
  color: #e9e9e9;
  align-self: center;
  justify-self: center;
  border-radius: 0.5rem;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.add-modal::-webkit-scrollbar {
  display: none;
}
.add-modal-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: sticky;
  backdrop-filter: blur(10px);
  z-index: 2;
}
.modal-close {
  margin: 0.7rem;
  margin-left: auto;
  cursor: pointer;
}
.add-modal-title {
  padding: 1rem;
  font-size: 1rem;
}
.add-modal-content {
  padding: 1rem;
  position: relative;
}
.add-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1.5rem;
}
.add-section-groups {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#moreOptButton {
  width: fit-content;
}
#moreOptSVG {
  transition: transform 0.3s ease;
}
#moreOptSVG.active {
  transform: rotate(180deg);
}
option {
  background-color: #121212;
  color: #e9e9e9;
}
.input-warning {
  border-color: red;
}
.select-area {
  width: 92%;
  background: url("data:image/svg+xml,<svg width='20px' height='20px' stroke-width='1.5' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23e9e9e9'><path d='M6 9L12 15L18 9' stroke='%23e9e9e9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'></path></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center;
  appearance: none;
}
.add-more-opt-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 400px; /* fixed or max height */
  overflow-y: auto; /* scrolling enabled */
  opacity: 1;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
.add-more-opt-container.hidden {
  overflow: hidden; /* hide overflow only while collapsing */
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}
.add-more-opt-container::-webkit-scrollbar {
  display: none;
}
/* airdatepicker styling */
.air-datepicker {
  background: #121212;
  color: #e9e9e9;
  border-color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.air-datepicker--navigation,
.air-datepicker--content,
.air-datepicker-cell {
  background: #121212;
  color: #e9e9e9;
  border-color: black;
}

.air-datepicker-cell.-selected-,
.air-datepicker-cell.-focus- {
  background: #e9e9e9;
  color: #121212;
}

.air-datepicker-cell.-current- {
  border: 1px solid #e9e9e9;
  border-color: black;
}

.air-datepicker-time {
  background: #121212;
  border-top: 1px solid #333;
  border-color: black;
}

/* end of airdatepicker styling */

#addTaskFunctionButton {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  flex-shrink: 0; /* prevent shrinking */
  background-color: rgba(0, 50, 250, 0.615) !important;
  border-color: rgba(0, 27, 137, 0.556) !important;
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

#addTaskFunctionButton:hover {
  background-color: rgba(32, 77, 255, 0.766) !important;
  border-color: rgb(0, 27, 137) !important;
}

.add-task-func-container {
  position: sticky;
  bottom: 0;
  padding: 1rem;
  padding-left: 0;
  z-index: 10;
  top: 260px;
}
.add-task-func-container::before {
  content: '';
  content: '';
  position: absolute;
  top: 0;
  left: -16px;
  width: 100%; /* Adjust this percentage to control how much of the left side is blurred */
  height: 100%;
  backdrop-filter: blur(10px);
}
#titleWarning {
  color: red;
  font-size: small;
  margin-left: 0.2rem;
}

/* her bir task için stillendirme! */
.task {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s ease-in-out !important;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.task-checkbox {
  border: 2px solid #e9e9e9;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 3rem;
  align-self: center;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}
.task-checkbox-checked {
  /* task tamamlandı olarak basılınca */
  background-color: rgb(0, 98, 255);
  transition: background-color 0.2s ease-in-out;
}
.task-checkbox-checked:hover {
  /* task tamamlandı olarak basılınca */
  background-color: rgb(0, 73, 191) !important;
}
.task-checkbox:hover {
  background-color: #595959;
  cursor: alias;
}
.task-text {
  padding: 0.5rem;
  padding-left: 1rem;
  align-self: center;
}
.line {
  border: 2px solid gray;
}
.task:hover {
  background-color: rgba(255, 255, 255, 0.12) !important;
  backdrop-filter: blur(10px);
}
.fade-out-task {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
/* general classes for fading in and out */
.fade-out {
  opacity: 0;
  transition: opacity 0.1s ease;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.1s ease;
}
/* details modalı için tasarımlar */

.details-modal {
  background-color: #2b2b2b;
  width: 400px;
  height: fit-content;
  max-height: 400px;
  color: #e9e9e9;
  align-self: center;
  justify-self: center;
  border-radius: 0.5rem;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.d-modal-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.d-title {
  padding: 1rem;
}
.d-modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
}
#detailsItemTitle {
  font-size: 1.5rem;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5;
  padding-bottom: 0;
}
#detailsItemDescription {
  padding: 1rem;
  padding-left: 0.5rem;
}

.d-modal-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
  position: sticky;
  margin-top: auto;
  bottom: 0;
  z-index: 10;
}

#detailsEditButton {
  background-color: rgba(0, 37, 185, 0.615) !important;
  border-color: rgba(32, 55, 148, 0.556) !important;
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  width: fit-content;
  font-size: 0.7rem;
  padding: 0.3rem !important;
  max-height: fit-content;
  align-self: flex-end;
}
#detailsEditButton:hover {
  background-color: rgba(8, 49, 209, 0.766) !important;
  border-color: rgb(26, 49, 143) !important;
}
#detailsDeleteButton {
  max-width: fit-content;
  max-height: fit-content;
  background-color: rgba(199, 0, 0, 0.615) !important;
  border-color: rgba(137, 0, 0, 0.556) !important;
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  font-size: 0.7rem !important;
  padding: 0.3rem !important;
  align-self: flex-end;
}
#detailsDeleteButton:hover {
  background-color: rgba(221, 0, 0, 0.766) !important;
  border-color: rgb(179, 27, 27) !important;
}
/* daha sonra kategorilere göre renk vereceğiz, şimdilik böyle kalsın */
#detailsItemCategory {
  background-color: rgb(255, 255, 255);
  color: #121212;
  padding: 0.4rem;
  border-radius: 0.6rem;
}
/* eğer zamanı geçtiyse kırmızı yapılabilir */
#detailsItemDueDate {
  background-color: rgb(29, 29, 29);
  padding: 0.4rem;
  border-radius: 0.6rem;
}
#detailsItemUrgency {
  background-color: #800000;
  padding: 0.4rem;
  border-radius: 0.6rem;
}
.task-urgency-low {
  background-color: #ff7d4ab9 !important;
}
.task-urgency-medium {
  background-color: #d64c2ab9 !important;
}
.task-urgency-high {
  background-color: #b90000b9 !important;
}
/* edit state de iken olan butonların görünüşü */
.edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.details-input {
  margin-left: 1rem;
  margin-bottom: 1rem;
  transition: opacity 0.5s ease-in-out;
}

.fade-toggle {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
.fade-toggle.fade-visible {
  opacity: 1;
  max-height: 100px; /* yeterli bir yükseklik ver, fazla olursa scroll olur */
  pointer-events: auto;
}
.details-text {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}
.d-modal-more {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}
.d-modal-input {
  margin-left: 0 !important;
}
#editDueDateInput {
  font-size: 0.8rem;
  width: 6.6rem;
  max-width: 6.8rem;
}
#editUrgencyInput {
  font-size: 0.8rem;
  width: 6.6rem;
}
#editCategoryInput {
  font-size: 0.8rem;
  width: 6.6rem;
  max-width: 6.8rem;
}
#firstTimeModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}
.ftm-content {
  align-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  align-items: center;
  text-align: center;
}
.ftm-title {
  font-size: 20pt;
  font-weight: bold;
}
.ftm-description {
  font-size: 12pt;
}
.ftm-button {
  width: fit-content;
  margin-top: auto;
}
@media (max-width: 575px) {
  .sidebar-container {
    flex-direction: row;
    width: 95%;
    height: max-content;
    max-height: min-content;
    justify-self: center;
  }
  .bottom-content {
    margin: 0;
    margin-top: 0;
    display: contents;
  }
  .other-buttons-area {
    margin-top: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  .main-container {
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 1fr;
  }
  .bottom-button {
    position: fixed;
    margin-top: auto;
    pointer-events: all;
    top: 1px;
    bottom: 20px;
    right: 20px;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  #fastTaskAdd {
    display: none;
  }
  .add-task-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 100%;
    pointer-events: none;
  }
  .modal-close-mobile {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: min-content;
    margin-left: auto;
  }
  .d-modal-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    z-index: 10;
  }
  .search-area {
    padding: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
  }
  .search-area .input-text {
    width: max-content;
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(57, 57, 57);
    backdrop-filter: blur(10px);
    color: #e9e9e9;
    /*  align-self: self-start; */
    transition: background-color 0.2s ease-in-out;
  }
  #searchBox {
    width: 90%;
  }
  .other-buttons-area {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
  }
  #dueButton,
  #completedButton,
  #allTasksButton {
    width: min-content;
  }

  .other-buttons-text {
    display: none;
  }
  #emptyState {
    font-size: 25px;
    justify-self: center;
  }
}
